In [118]:
import numpy as np
import pandas as pd

In [119]:
df = pd.read_csv("/content/marketing_campaign.csv", sep = "\t")

In [120]:
df.head().T

,0,1,2,3,4
ID,5524,2174,4141,6182,5324
Year_Birth,1957,1954,1965,1984,1981
Education,Graduation,Graduation,Graduation,Graduation,PhD
Marital_Status,Single,Single,Together,Together,Married
Income,58138.0,46344.0,71613.0,26646.0,58293.0
Kidhome,0,1,0,1,1
Teenhome,0,1,0,0,0
Dt_Customer,04-09-2012,08-03-2014,21-08-2013,10-02-2014,19-01-2014
Recency,58,38,26,26,94
MntWines,635,11,426,11,173
MntFruits,88,1,49,4,43
MntMeatProducts,546,6,127,20,118
MntFishProducts,172,2,111,10,46
MntSweetProducts,88,1,21,3,27
MntGoldProds,88,6,42,5,15
NumDealsPurchases,3,2,1,2,5
NumWebPurchases,8,1,8,2,5
NumCatalogPurchases,10,1,2,0,3
NumStorePurchases,4,2,10,4,6
NumWebVisitsMonth,7,5,4,6,5
AcceptedCmp3,0,0,0,0,0
AcceptedCmp4,0,0,0,0,0
AcceptedCmp5,0,0,0,0,0
AcceptedCmp1,0,0,0,0,0
AcceptedCmp2,0,0,0,0,0
Complain,0,0,0,0,0
Z_CostContact,3,3,3,3,3
Z_Revenue,11,11,11,11,11
Response,1,0,0,0,0

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [122]:
df["Dt_Customer"] = [int(i[6:]) for i in df["Dt_Customer"]]
df["Dt_Customer"].head()

0    2012
1    2014
2    2013
3    2014
4    2014
Name: Dt_Customer, dtype: int64

In [123]:
for column in df[["Dt_Customer", "Education", "Marital_Status"]]:
  print(f"{column} : {df[column].unique()}")

Dt_Customer : [2012 2014 2013]
Education : ['Graduation' 'PhD' 'Master' 'Basic' '2n Cycle']
Marital_Status : ['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'YOLO']

In [124]:
df = pd.get_dummies(df, columns = ["Dt_Customer", "Education", "Marital_Status"])

In [161]:
df["Response"].value_counts()

0    1883
1     333
Name: Response, dtype: int64

In [126]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,2240.0,5592.159821,3246.662198,0.0,2828.25,5458.5,8427.75,11191.0
Year_Birth,2240.0,1968.805804,11.984069,1893.0,1959.00,1970.0,1977.00,1996.0
Income,2216.0,52247.251354,25173.076661,1730.0,35303.00,51381.5,68522.00,666666.0
Kidhome,2240.0,0.444196,0.538398,0.0,0.00,0.0,1.00,2.0
Teenhome,2240.0,0.506250,0.544538,0.0,0.00,0.0,1.00,2.0
Recency,2240.0,49.109375,28.962453,0.0,24.00,49.0,74.00,99.0
MntWines,2240.0,303.935714,336.597393,0.0,23.75,173.5,504.25,1493.0
MntFruits,2240.0,26.302232,39.773434,0.0,1.00,8.0,33.00,199.0
MntMeatProducts,2240.0,166.950000,225.715373,0.0,16.00,67.0,232.00,1725.0
MntFishProducts,2240.0,37.525446,54.628979,0.0,3.00,12.0,50.00,259.0
MntSweetProducts,2240.0,27.062946,41.280498,0.0,1.00,8.0,33.00,263.0
MntGoldProds,2240.0,44.021875,52.167439,0.0,9.00,24.0,56.00,362.0
NumDealsPurchases,2240.0,2.325000,1.932238,0.0,1.00,2.0,3.00,15.0
NumWebPurchases,2240.0,4.084821,2.778714,0.0,2.00,4.0,6.00,27.0
NumCatalogPurchases,2240.0,2.662054,2.923101,0.0,0.00,2.0,4.00,28.0
NumStorePurchases,2240.0,5.790179,3.250958,0.0,3.00,5.0,8.00,13.0
NumWebVisitsMonth,2240.0,5.316518,2.426645,0.0,3.00,6.0,7.00,20.0
AcceptedCmp3,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp4,2240.0,0.074554,0.262728,0.0,0.00,0.0,0.00,1.0
AcceptedCmp5,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp1,2240.0,0.064286,0.245316,0.0,0.00,0.0,0.00,1.0
AcceptedCmp2,2240.0,0.013393,0.114976,0.0,0.00,0.0,0.00,1.0
Complain,2240.0,0.009375,0.096391,0.0,0.00,0.0,0.00,1.0
Z_CostContact,2240.0,3.000000,0.000000,3.0,3.00,3.0,3.00,3.0
Z_Revenue,2240.0,11.000000,0.000000,11.0,11.00,11.0,11.00,11.0
Response,2240.0,0.149107,0.356274,0.0,0.00,0.0,0.00,1.0
Dt_Customer_2012,2240.0,0.220536,0.414700,0.0,0.00,0.0,0.00,1.0
Dt_Customer_2013,2240.0,0.530804,0.499162,0.0,0.00,1.0,1.00,1.0
Dt_Customer_2014,2240.0,0.248661,0.432333,0.0,0.00,0.0,0.00,1.0
Education_2n Cycle,2240.0,0.090625,0.287139,0.0,0.00,0.0,0.00,1.0
Education_Basic,2240.0,0.024107,0.153416,0.0,0.00,0.0,0.00,1.0
Education_Graduation,2240.0,0.503125,0.500102,0.0,0.00,1.0,1.00,1.0
Education_Master,2240.0,0.165179,0.371425,0.0,0.00,0.0,0.00,1.0
Education_PhD,2240.0,0.216964,0.412270,0.0,0.00,0.0,0.00,1.0
Marital_Status_Absurd,2240.0,0.000893,0.029874,0.0,0.00,0.0,0.00,1.0
Marital_Status_Alone,2240.0,0.001339,0.036580,0.0,0.00,0.0,0.00,1.0
Marital_Status_Divorced,2240.0,0.103571,0.304772,0.0,0.00,0.0,0.00,1.0
Marital_Status_Married,2240.0,0.385714,0.486872,0.0,0.00,0.0,1.00,1.0
Marital_Status_Single,2240.0,0.214286,0.410418,0.0,0.00,0.0,0.00,1.0
Marital_Status_Together,2240.0,0.258929,0.438144,0.0,0.00,0.0,1.00,1.0
Marital_Status_Widow,2240.0,0.034375,0.182231,0.0,0.00,0.0,0.00,1.0
Marital_Status_YOLO,2240.0,0.000893,0.029874,0.0,0.00,0.0,0.00,1.0

In [127]:
df.isna().sum()

ID                          0
Year_Birth                  0
Income                     24
Kidhome                     0
Teenhome                    0
Recency                     0
MntWines                    0
MntFruits                   0
MntMeatProducts             0
MntFishProducts             0
MntSweetProducts            0
MntGoldProds                0
NumDealsPurchases           0
NumWebPurchases             0
NumCatalogPurchases         0
NumStorePurchases           0
NumWebVisitsMonth           0
AcceptedCmp3                0
AcceptedCmp4                0
AcceptedCmp5                0
AcceptedCmp1                0
AcceptedCmp2                0
Complain                    0
Z_CostContact               0
Z_Revenue                   0
Response                    0
Dt_Customer_2012            0
Dt_Customer_2013            0
Dt_Customer_2014            0
Education_2n Cycle          0
Education_Basic             0
Education_Graduation        0
Education_Master            0
Education_PhD               0
Marital_Status_Absurd       0
Marital_Status_Alone        0
Marital_Status_Divorced     0
Marital_Status_Married      0
Marital_Status_Single       0
Marital_Status_Together     0
Marital_Status_Widow        0
Marital_Status_YOLO         0
dtype: int64

In [128]:
df.dropna(inplace = True)

In [129]:
correlation_matrix = df.corr()
correlation_matrix["Response"].sort_values()

Recency                   -0.199766
Teenhome                  -0.153901
Dt_Customer_2014          -0.102428
Marital_Status_Married    -0.079821
Kidhome                   -0.077909
Marital_Status_Together   -0.075293
Dt_Customer_2013          -0.058868
Education_Basic           -0.050080
Education_Graduation      -0.039660
Education_2n Cycle        -0.035496
ID                        -0.021491
NumWebVisitsMonth         -0.002209
Complain                  -0.002029
NumDealsPurchases          0.003451
Education_Master           0.003919
Marital_Status_Alone       0.018862
Year_Birth                 0.023692
Marital_Status_Absurd      0.029416
Marital_Status_YOLO        0.029416
NumStorePurchases          0.036241
Marital_Status_Widow       0.045656
Marital_Status_Divorced    0.054189
Education_PhD              0.087979
MntFishProducts            0.108145
Marital_Status_Single      0.108726
MntSweetProducts           0.116170
MntFruits                  0.122443
Income                     0.133047
MntGoldProds               0.140332
NumWebPurchases            0.151431
AcceptedCmp2               0.169294
Dt_Customer_2012           0.177613
AcceptedCmp4               0.180205
NumCatalogPurchases        0.219914
MntMeatProducts            0.237746
MntWines                   0.246299
AcceptedCmp3               0.254005
AcceptedCmp1               0.297345
AcceptedCmp5               0.323374
Response                   1.000000
Z_CostContact                   NaN
Z_Revenue                       NaN
Name: Response, dtype: float64

In [130]:
for column in df[["Z_Revenue", "Z_CostContact"]]:
  print(f"{column} : {df[column].unique()}")

Z_Revenue : [11]
Z_CostContact : [3]

In [131]:
df.drop(["ID", "Z_Revenue", "Z_CostContact"], axis = "columns", inplace = True)

In [132]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)

In [133]:
df_scaled.describe().T

,count,mean,std,min,25%,50%,75%,max
Year_Birth,2216.0,0.736120,0.116365,0.0,0.640777,0.747573,0.815534,1.0
Income,2216.0,0.075973,0.037858,0.0,0.050491,0.074671,0.100449,1.0
Kidhome,2216.0,0.220894,0.268448,0.0,0.000000,0.000000,0.500000,1.0
Teenhome,2216.0,0.252708,0.272091,0.0,0.000000,0.000000,0.500000,1.0
Recency,2216.0,0.495077,0.292408,0.0,0.242424,0.494949,0.747475,1.0
MntWines,2216.0,0.204348,0.225940,0.0,0.016075,0.116879,0.338245,1.0
MntFruits,2216.0,0.132442,0.199969,0.0,0.010050,0.040201,0.165829,1.0
MntMeatProducts,2216.0,0.096809,0.130019,0.0,0.009275,0.039420,0.134638,1.0
MntFishProducts,2216.0,0.145319,0.211398,0.0,0.011583,0.046332,0.193050,1.0
MntSweetProducts,2216.0,0.103164,0.156764,0.0,0.003817,0.030534,0.125954,1.0
MntGoldProds,2216.0,0.136963,0.161419,0.0,0.028037,0.076324,0.174455,1.0
NumDealsPurchases,2216.0,0.154904,0.128248,0.0,0.066667,0.133333,0.200000,1.0
NumWebPurchases,2216.0,0.151307,0.101517,0.0,0.074074,0.148148,0.222222,1.0
NumCatalogPurchases,2216.0,0.095394,0.104526,0.0,0.000000,0.071429,0.142857,1.0
NumStorePurchases,2216.0,0.446230,0.250060,0.0,0.230769,0.384615,0.615385,1.0
NumWebVisitsMonth,2216.0,0.265952,0.121268,0.0,0.150000,0.300000,0.350000,1.0
AcceptedCmp3,2216.0,0.073556,0.261106,0.0,0.000000,0.000000,0.000000,1.0
AcceptedCmp4,2216.0,0.074007,0.261842,0.0,0.000000,0.000000,0.000000,1.0
AcceptedCmp5,2216.0,0.073105,0.260367,0.0,0.000000,0.000000,0.000000,1.0
AcceptedCmp1,2216.0,0.064079,0.244950,0.0,0.000000,0.000000,0.000000,1.0
AcceptedCmp2,2216.0,0.013538,0.115588,0.0,0.000000,0.000000,0.000000,1.0
Complain,2216.0,0.009477,0.096907,0.0,0.000000,0.000000,0.000000,1.0
Response,2216.0,0.150271,0.357417,0.0,0.000000,0.000000,0.000000,1.0
Dt_Customer_2012,2216.0,0.221119,0.415094,0.0,0.000000,0.000000,0.000000,1.0
Dt_Customer_2013,2216.0,0.529332,0.499252,0.0,0.000000,1.000000,1.000000,1.0
Dt_Customer_2014,2216.0,0.249549,0.432850,0.0,0.000000,0.000000,0.000000,1.0
Education_2n Cycle,2216.0,0.090253,0.286608,0.0,0.000000,0.000000,0.000000,1.0
Education_Basic,2216.0,0.024368,0.154224,0.0,0.000000,0.000000,0.000000,1.0
Education_Graduation,2216.0,0.503610,0.500100,0.0,0.000000,1.000000,1.000000,1.0
Education_Master,2216.0,0.164711,0.371003,0.0,0.000000,0.000000,0.000000,1.0
Education_PhD,2216.0,0.217058,0.412335,0.0,0.000000,0.000000,0.000000,1.0
Marital_Status_Absurd,2216.0,0.000903,0.030035,0.0,0.000000,0.000000,0.000000,1.0
Marital_Status_Alone,2216.0,0.001354,0.036777,0.0,0.000000,0.000000,0.000000,1.0
Marital_Status_Divorced,2216.0,0.104693,0.306227,0.0,0.000000,0.000000,0.000000,1.0
Marital_Status_Married,2216.0,0.386733,0.487112,0.0,0.000000,0.000000,1.000000,1.0
Marital_Status_Single,2216.0,0.212545,0.409201,0.0,0.000000,0.000000,0.000000,1.0
Marital_Status_Together,2216.0,0.258574,0.437950,0.0,0.000000,0.000000,1.000000,1.0
Marital_Status_Widow,2216.0,0.034296,0.182030,0.0,0.000000,0.000000,0.000000,1.0
Marital_Status_YOLO,2216.0,0.000903,0.030035,0.0,0.000000,0.000000,0.000000,1.0

In [134]:
x = df_scaled.drop("Response", axis = "columns").copy().values
y = df_scaled["Response"].copy().values

In [135]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.8, stratify = y, random_state = 17)

In [136]:
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset

In [137]:
x_train, x_test = torch.FloatTensor(x_train), torch.FloatTensor(x_test)
y_train, y_test = torch.LongTensor(y_train), torch.LongTensor(y_test)

In [138]:
train_data = TensorDataset(x_train, y_train)
test_data = TensorDataset(x_test, y_test)

In [139]:
train_loader = DataLoader(train_data, batch_size = 10, shuffle = True)
test_loader = DataLoader(test_data, batch_size = 10, shuffle = True)

In [140]:
device = "cuda" if torch.cuda.is_available() else "cpu"
device

'cuda'

In [141]:
Model = nn.Sequential(
    nn.Linear(38, 256),
    nn.ReLU(),
    nn.Dropout(0.3),
    nn.Linear(256, 128),
    nn.ReLU(),
    nn.Dropout(0.5),
    nn.Linear(128, 128),
    nn.ReLU(),
    nn.Dropout(0.5),
    nn.Linear(128, 84),
    nn.ReLU(),
    nn.Dropout(0.5),
    nn.Linear(84, 2),
    nn.Softmax(dim = 1)
)

In [142]:
Model.to(device)

Sequential(
  (0): Linear(in_features=38, out_features=256, bias=True)
  (1): ReLU()
  (2): Dropout(p=0.3, inplace=False)
  (3): Linear(in_features=256, out_features=128, bias=True)
  (4): ReLU()
  (5): Dropout(p=0.5, inplace=False)
  (6): Linear(in_features=128, out_features=128, bias=True)
  (7): ReLU()
  (8): Dropout(p=0.5, inplace=False)
  (9): Linear(in_features=128, out_features=84, bias=True)
  (10): ReLU()
  (11): Dropout(p=0.5, inplace=False)
  (12): Linear(in_features=84, out_features=2, bias=True)
  (13): Softmax(dim=1)
)

In [143]:
loss_function = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(Model.parameters(), lr = 0.001)

In [144]:
epochs = 100
training_losses = []
testing_losses = []
training_accuracies = []
testing_accuracies = []

for epoch in range(epochs):

  training_correct = 0
  for _, (x_train, y_train) in enumerate(train_loader):
    y_pred = Model(x_train.to(device))
    loss = loss_function(y_pred, y_train.to(device))

    training_correct += (torch.max(y_pred, 1)[1] == y_train.to(device)).sum()

    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    training_losses.append(loss.item())
  training_accuracy = training_correct.item() / len(train_data)
  training_accuracies.append(training_accuracy)

  testing_correct = 0
  with torch.no_grad():
    for _, (x_test, y_test) in enumerate(test_loader):
      y_pred = Model(x_test.to(device))
      loss = loss_function(y_pred, y_test.to(device))
      testing_losses.append(loss.item())
      testing_correct += (torch.max(y_pred, 1)[1] == y_test.to(device)).sum()
  testing_accuracy = testing_correct / len(test_data)
  testing_accuracies.append(testing_accuracy)

  if (epoch + 1) % 5 == 0:
    print(f"Epoch : {epoch + 1} | Training Acc : {training_accuracy} | Testing Acc : {testing_accuracy}")

  if (epoch + 1) == epochs:
    print(f"\n\nLowest Training Loss : {np.min(training_losses)} \nLowest Testing Loss : {np.min(testing_losses)}")
    print(f"\n\nHighest Training Loss : {np.max(training_losses)} \nHighest Testing Loss : {np.max(testing_losses)}")

Epoch : 5 | Training Acc : 0.8498871331828443 | Testing Acc : 0.8490990996360779
Epoch : 10 | Training Acc : 0.8837471783295711 | Testing Acc : 0.8761261701583862
Epoch : 15 | Training Acc : 0.8967268623024831 | Testing Acc : 0.8716216683387756
Epoch : 20 | Training Acc : 0.9057562076749436 | Testing Acc : 0.8873873949050903
Epoch : 25 | Training Acc : 0.9142212189616253 | Testing Acc : 0.8918918967247009
Epoch : 30 | Training Acc : 0.9170428893905191 | Testing Acc : 0.8851351737976074
Epoch : 35 | Training Acc : 0.9204288939051919 | Testing Acc : 0.889639675617218
Epoch : 40 | Training Acc : 0.9113995485327314 | Testing Acc : 0.8851351737976074
Epoch : 45 | Training Acc : 0.9238148984198645 | Testing Acc : 0.8806306719779968
Epoch : 50 | Training Acc : 0.9255079006772009 | Testing Acc : 0.8873873949050903
Epoch : 55 | Training Acc : 0.9266365688487584 | Testing Acc : 0.8918918967247009
Epoch : 60 | Training Acc : 0.9266365688487584 | Testing Acc : 0.8941441774368286
Epoch : 65 | Training Acc : 0.927765237020316 | Testing Acc : 0.8873873949050903
Epoch : 70 | Training Acc : 0.9322799097065463 | Testing Acc : 0.8918918967247009
Epoch : 75 | Training Acc : 0.9283295711060948 | Testing Acc : 0.8918918967247009
Epoch : 80 | Training Acc : 0.9311512415349887 | Testing Acc : 0.8873873949050903
Epoch : 85 | Training Acc : 0.9345372460496614 | Testing Acc : 0.889639675617218
Epoch : 90 | Training Acc : 0.9351015801354402 | Testing Acc : 0.8941441774368286
Epoch : 95 | Training Acc : 0.9272009029345373 | Testing Acc : 0.8873873949050903
Epoch : 100 | Training Acc : 0.9266365688487584 | Testing Acc : 0.8918918967247009


Lowest Training Loss : 0.3132617473602295
Lowest Testing Loss : 0.3132617473602295


Highest Training Loss : 0.9132555723190308
Highest Testing Loss : 0.8868266940116882

In [146]:
y_testing = []
y_predicted = []

with torch.no_grad():
  correct = 0
  for X_test, y_test in test_loader:
    y_pred = Model(X_test.to(device))
    predicted = torch.max(y_pred, 1)[1]
    for i in predicted:
      y_predicted.append(i.to("cpu"))

    for i in y_test:
      y_testing.append(i.to("cpu"))

    correct += (predicted == y_test.to(device)).sum()

# Accuracy
print(f"Accuracy : {correct.item() / len(test_data) * 100}%")

Accuracy : 89.1891891891892%